<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>

    <!-- Logout Button -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Passengers Table -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Passengers</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="passenger-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Email</th>
                  <th>Actions</th> <!-- New column for action buttons -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let passenger of passengers | async">
                  <td>{{ passenger.Name }}</td>
                  <td>{{ passenger.Surname }}</td>
                  <td>{{ passenger.Email }}</td>
                  <td>
                    <!-- Assign Admin Button -->
                    <ion-button (click)="assignAdmin(passenger.Email)">Assign Admin</ion-button>

                    <!-- Delete User Button -->
                    <ion-button color="danger" (click)="deleteUser(passenger.Email)">Delete</ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="(passengers | async)?.length === 0">No passenger data found.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="navigateHome()">View Drivers</ion-button>
</ion-content>
